<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/app.css">
  <title>Google Events</title>
</head>
<body class="bodyEventCon">
  <div class="conE">
    <img src="../image/logo.svg" alt="Email" class="logoSVGevent">
    <p class="sloganEvent">Reminder Express makes your life easier.</p>
    <div class="form">
      <h2>Oh my god you added an event on your Google Calendar</h2>
      <p>You can <a href="https://calendar.google.com/calendar/u/1/r/" target="blank">see it</a> in your Google Calender</p>
    
  </div>

</body>
</html>